body{
    margin: 0;
    padding: 0;
    background-color: bisque;
}

#selection{
    margin: auto;
    display: flex;
    width: 90%;
    justify-content: center;
    /* gap: 20px; */
    height: auto;
}

#title{
    text-align: center;
}

.result, .resultstate{
    font-weight: 700;
    font-size: 18px;
}

.scorecard{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    margin: 15px 0;
}

img{
    width: 75%;
    height: 85%; 
    border-radius: 56%;
    gap: 8px;
    border: 10px solid palegoldenrod;
}

.rocky{
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    justify-content: center;
    gap: 15px;
    flex: 1;
    min-width: 200px;
}